<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<style>
body {
    font-family: Arial, sans-serif;
    background-color:rgb(8, 199, 199);
    margin: 0;
    padding: 0;
}
.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: darkblue;
}
</style>

<body>
    <h1>Edit Post</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Save changes</button>
    </form>
</body>
</html>